body {
  background-color: #1d1d1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #000000;
  z-index: 3;
}

.square p {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
}

/* css animation keyframe effect for a bounce */

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(70px);
  }
}

.square-2 {
  width: 30px;
  height: 30px;
  background-color: yellow;
  animation: 2s bounce infinite alternate ease-in-out;
}

.square-3 {
  width: 70px;
  height: 70px;
  background-color: #117799;
  animation: 2s bounce infinite alternate ease-in-out;
}

.controls {
  margin: 40px;
  padding: 10px;
}

.controls .section {
  border: 2px solid white;
  padding: 20px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}


.controls .section p {
  border-top: 2px solid white;
  padding: 10px;
  margin-top: 10px;
}

.wrap-text {
  overflow-wrap: break-word;
}

.controls .section h3 {
  margin: 0 0 20px;
}

ul {
  list-style: none;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5;
}

ul :nth-child(2n) {
  color: #0a151d;
  background-color: #8ea4b3;
}

li {
  margin: 2px 0px;
  padding: 2px;
}

.button {
  margin: 5px;
  z-index: 2;
  border-top: 1px solid #96d1f8;
  background: #1a374a;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#276187),
    to(#1a374a)
  );
  background: -webkit-linear-gradient(top, #276187, #1a374a);
  background: -moz-linear-gradient(top, #276187, #1a374a);
  background: -ms-linear-gradient(top, #276187, #1a374a);
  background: -o-linear-gradient(top, #276187, #1a374a);

  border-radius: 19px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 16px;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

.numberInput {
  width: 100px;
  margin: 5px;
  z-index: 2;
  border-top: 1px solid #96d1f8;
  background: #bfd3e0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#276187),
    to(#bed4e2)
  );
  background: -webkit-linear-gradient(top, #276187, #a8c2d3);
  background: -moz-linear-gradient(top, #276187, #d7e4ec);
  background: -ms-linear-gradient(top, #276187, #9cbdd3);
  background: -o-linear-gradient(top, #276187, #7caac9);
  padding: 5px 10px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: black;
  font-size: 16px;
  text-decoration: none;
  vertical-align: middle;
}

.percentComplete {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}

.lineUp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.lineUp span {
  font-size: 1rem;
  color: #79b6df;
}

.button-2 {
  font-size: 0.8rem;
  font-weight: bold;
  color: #1b435e;
}

.button-2:hover {
  box-shadow: 3px 3px 2px lightblue;
  -webkit-box-shadow: rgb(83, 147, 167) -4px -4px 10px;
  -moz-box-shadow: rgb(105, 176, 194) -4px -4px 10px;
}
